.navbar {
    background-color: var(--light-green);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    height: 50px;
    margin: 1rem;
    padding: 1rem 0.5rem;

    border-radius: 0.5rem;

}

.logo {
    margin: 0;

    font-family: "MADE Sunflower", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    color: var(--dark-brown);
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.nav-links {
    display: flex;
    gap: 1rem;

    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;

    font-family: "Titillium Web", sans-serif;
    color: var(--light-brown);
    
}


